@model PIV_PF_GRUPO2.Models.T_TIPO_PRODUCTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>T_TIPO_PRODUCTO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TIPO_PRODUCTO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TIPO_PRODUCTO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DESCRIPCION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ID_PRODUCTO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ID_PRODUCTO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.T_ADMINISTRADOR.NOMBRE_USUARIO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.T_ADMINISTRADOR.NOMBRE_USUARIO)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_TIPO_PRODUCTO }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
